html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  /* max-width: fit-content; */
  max-width: 100%;
}

.app {
  /* width: 100vw; */
  height: 100vh;
  color: white;
  background-color: black;
  /* max-width: 3000px; */
  max-width: 100%;
  
}
