.about{
    background-color: rgba(122, 50, 190, 0.26);
    padding: 100px 130px;
    border-radius: 5px;
    line-height: 32px;
}

.about__title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0px;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    text-align: center;
    color: white;
}

.about__description{
    font-size: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
  
}

.about__description-profile{
    text-align: justify;
    padding-top: 20px;
}

.about__tech{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    justify-self: center;
}

.about__tech-img{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
justify-content: center;
}

.about__tech-icon{
text-align: center;
font-size: 18px;
opacity: 0.5;
}
.about__tech-text{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.854);
}