.header{
    background-color: rgb(83, 32, 130);
    /* border: 1px solid white; */
    /* margin: 0px 100px; */
    display: flex;
    justify-content: space-between;
    /* padding: 2px 20px; */
    /* border-radius: 15px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 1550px;
    padding-left: 30px;
}

.header__logo{
    width: 40px;
    height: 40px;
    padding-top: 6px;    
}

.navbar{
    padding-right: 30px;
}



.navbar__item{
    color: white;
    text-decoration: none;
    padding-right: 30px;
}