.header{
    background-color: rgb(83, 32, 130);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 40px;
    padding-right: 50px;
}

.header__logo{
    width: 40px;
    height: 40px;
    padding-top: 6px;    
}

.navbar__dropdown:hover{
    transform: scale(1.05);

}

.navbar__item{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 30px;
    font-weight: 500;
}

.navbar__item:hover{
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    text-decoration: underline;

}